.input {
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(38, 53, 104, 0.25);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  height: 35px;
  width: 100%;
  margin: 5px;
  padding: 5px 16px;

  &:focus {
    content: "";
    border: none;
  }

  &__textError {
    color: red;
    font-size: 14px;
    line-height: 14px;
  }
}