@import '../variable'
  
.btn-main
  @include main-font
  display: block
  position: relative
  text-align: center
  border: none
  height: 35px
  box-shadow: $main-shadow
  box-sizing: border-box
  font-size: 16px
  line-height: 16px
  cursor: pointer
  background-color: $main-purple
  padding: 5px 16px
  border-radius: 10px
  @media screen and (max-width: 1024px)
    height: 100%
  

