@import '../../index.scss';

.card-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card-item {
  padding: 16px;
  border: 1px solid #f8d7d7;
  margin: 10px;
  grid-column: span 4 / auto;

  @media screen and (max-width: 1024px) {
    grid-column: span 12 / auto;
  }

  &:hover {
    box-shadow: $main-shadow;
    cursor: pointer;
  }

  &:nth-child(2n) {
    background-color: lightgreen;
  }

  &__text {
    @include main-font;
    font-size: 18px;
    line-height: 18px;
    color: $color-black-main;
    margin: 5px 0;
  }
}