@import '../variable'
  
.sidebar-main
  display: flex
  flex-direction: column

  &__text
    font-family: $main-font
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 22px
    margin: 10px 0
    padding: 0
    color: $color-black-main
    cursor: pointer

    &:hover
      color: $main-purple
