.sidebar-main {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 22px;
    line-height: 22px;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      color: #b5b5f1;
    }
  }
}